.shift{
    float:left;
    wdith:200px;
    height:300px;
    padding-right:50px
}

.right{
    float:right;
    width:900px;
    padding-left:50px;
}
html {
    background-color:black;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:blanchedalmond;
}
h2{
    color:blanchedalmond;
}

