            body{
                background-color:black;color:white;"
            }
            h1{
                background-color:purple;text-align:center;font-size:100px;
            }
            th{
                background-color:red;
            }
            .odd{
                background-color:purple;
            }
            h2{
                font-family: "Times New Roman", Times, serif;
            }
            img {
                width:200px;
                height:10px;
            }
